<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moon.ihahelp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moon.ihahelp.SelectSemester"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moon.ihahelp.FirstSemesterPickClass"
            android:label="@string/title_activity_first_semester_pick_class"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.SecondSemesterPickClass"
            android:label="@string/title_activity_second_semester_pick_class"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.ThirdSemesterPickClass"
            android:label="@string/title_activity_third_semester_pick_class"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.FourthSemesterPickLine"
            android:label="@string/title_activity_fourth_semester_pick_line"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.FifthSemesterInternship"
            android:label="@string/title_activity_fifth_semester_internship"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.SixthSemesterPickLine"
            android:label="@string/title_activity_sixth_semester_pick_line"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.SeventhSemesterPickLine"
            android:label="@string/title_activity_seventh_semester_pick_line"
            android:parentActivityName="com.moon.ihahelp.SelectSemester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SelectSemester" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E1IDE"
            android:label="@string/title_activity_e1_ide"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E1IKLT"
            android:label="@string/title_activity_e1_iklt"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E1MMLS"
            android:label="@string/title_activity_e1_mmls"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E1PRJ1"
            android:label="@string/title_activity_e1_prj1"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E1VPR1"
            android:label="@string/title_activity_e1_vpr1"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I1MSYS"
            android:label="@string/title_activity_i1_msys"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I1OPRG"
            android:label="@string/title_activity_i1_oprg"
            android:parentActivityName="com.moon.ihahelp.FirstSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FirstSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E2ASB"
            android:label="@string/title_activity_e2_asb"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E2MSA"
            android:label="@string/title_activity_e2_ms"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E2DSD"
            android:label="@string/title_activity_e2_dsd"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E2PRJ2"
            android:label="@string/title_activity_e2_prj2"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I2ISE"
            android:label="@string/title_activity_i2_ise"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I2OOP"
            android:label="@string/title_activity_i2_oop"
            android:parentActivityName="com.moon.ihahelp.SecondSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.SecondSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E3DSB"
            android:label="@string/title_activity_e3_dsb"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E3MSE"
            android:label="@string/title_activity_e3_mse"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E3PRJ3"
            android:label="@string/title_activity_e3_prj3"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I3GFV"
            android:label="@string/title_activity_i3_gfv"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I3ISU"
            android:label="@string/title_activity_i3_isu"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I3MPS"
            android:label="@string/title_activity_i3_mps"
            android:parentActivityName="com.moon.ihahelp.ThirdSemesterPickClass" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.ThirdSemesterPickClass" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.FourthSemesterIKT"
            android:label="@string/title_activity_fourth_semester_ikt"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterPickLine" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterPickLine" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.FourthSemesterStarkstrom"
            android:label="@string/title_activity_fourth_semester_starkstrom"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterPickLine" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterPickLine" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.FourthSemesterElektro"
            android:label="@string/title_activity_fourth_semester_elektro"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterPickLine" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterPickLine" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E4ASD"
            android:label="@string/title_activity_e4_asd"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterElektro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterElektro" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E4DSA"
            android:label="@string/title_activity_e4_ds"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterElektro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterElektro" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E4EFYS"
            android:label="@string/title_activity_e4_efys"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterElektro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterElektro" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.E4IRT"
            android:label="@string/title_activity_e4_irt"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterElektro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterElektro" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.EP4EEV"
            android:label="@string/title_activity_ep4_eev"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterStarkstrom" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterStarkstrom" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.EP4IOA"
            android:label="@string/title_activity_ep4_io"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterStarkstrom" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterStarkstrom" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I4DAB"
            android:label="@string/title_activity_i4_dab"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterIKT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterIKT" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I4GUI"
            android:label="@string/title_activity_i4_gui"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterIKT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterIKT" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I4IKN"
            android:label="@string/title_activity_i4_ikn"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterIKT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterIKT" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I4SWD"
            android:label="@string/title_activity_i4_swd"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterIKT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterIKT" />
        </activity>
        <activity
            android:name="com.moon.ihahelp.I4SWT"
            android:label="@string/title_activity_i4_swt"
            android:parentActivityName="com.moon.ihahelp.FourthSemesterIKT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moon.ihahelp.FourthSemesterIKT" />
        </activity>
    </application>

</manifest>